

.course-inputs {
    
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
}



.course-input-package {
    background-color: #eee;
    margin: auto;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    padding: 4%;
    padding-top: 2%;
    
    /* width: 100%; */
    /* border-radius: 10px; */
    border-radius: 1em; 

    
	display: grid;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-row-gap: 15%; */
    border: #000;
    border-style: solid;
    width: 80%;
}

#course-list {
    /* grid-row-gap: 100%; */
    margin-top: -10px;
}
.course-list-element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

input {
	background-color: #fafafa;
    border: none;
    width: 80%;
    font-size: 100%;
}

#class-selector {
    /* position: absolute;
    margin: auto; */
}

#professor-dropdown {
    background-color: #ccc;
    color: black;
    border-radius: 0px;
    border-color: black;
    border-width: 4px;
    border-top: none;
    /* width: 7vw; */
    margin: auto;
}

#professor-dropdown-item {
    background-color: #ccc;
    color: black;
    border-radius: 0px;
    border-color: black;
    border-width: 4px;
    border-top: none;
    /* width: 10vw; */
    /* margin: auto; */
    /* width: auto; */
    /* left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto; */
}

.professor-button {
    display: grid;
    /* flex-direction: column; */
    margin: auto;
    width: 5vmax;
}

#courseLabel {
    margin-left: -17%;
}


/*
#profSelector {
    background-color: blue;
    display: flex; 
    flex-direction: column;

    border-radius: 4%;s
    border: none;
    background: none;
    color: #000;
    font-weight: normal;
    font-size: 100%;
    width: 100%;
    
} */


/* button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
} */



/* button {
    display: flex;
    flex-direction: row;

} */

/* button {
	border-radius: 0%;
	border: 0%;
	background-color: #CCC;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
} */


ul {
    list-style-type:decimal-leading-zero;
  }

  .course-selection-page {
      display: flex;
      flex-direction: column;


  }

  .course-id-input {
      border: 2px solid black;
      background-color: black;
  }

   /* The alert message box */
.alert {
    /* padding: 3%;
    color: white;
    margin: auto;
    width: 80%;
    border-radius: 10px; */


    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    border-radius: 10px;
    /* margin-top: 5%; */
    padding: 20px;
    background-color: #f44336DD;
    /* border-color: black;
    border-style:solid; */
    color: white;
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 150%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0%;
    border-color: #000;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 